/*
	Title color: rgba(0,255,0,0.7);
	Navigation Color: rgba(144, 238, 144, 0.75);
	Text Color: rgba(50, 180, 100, 1);
	font-family: helvetica;
	font-family: 'Lato', sans-serif;
*/
html {
	height: 100%;
}

body {
	height: 100%;
	color: rgba(50, 180, 100, 1);
	background: rgba(0,0,0,1);
	font-size:12pt;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: helvetica;
	color:rgba(100, 200, 150, 1);
	font-size: 20pt;
}

header {
	font-family: helvetica, sans-serif;
	background: linear-gradient(to bottom right, black, black, rgba(0,100,0,0.3), black);
}

p {
	/*font-weight: 700;*/
}

.footer-images {
	height: 1em;
	opacity: 0.5;
	-webkit-transition: opacity 250ms linear;
	-moz-transition: opacity 250ms linear;
	-o-transition: opacity 250ms linear;
}

.footer-images:hover{
	opacity: 1;
}

.navigation-link {
	color:rgba(144, 238, 144, 0.75);
	font-weight:bold;
	font-size:12pt;
	text-decoration: none;
	padding: 0 10px 0 10px;
	-webkit-transition: color 250ms ease-in-out;
	-moz-transition: color 250ms ease-in-out;
	-o-transition: color 250ms ease-in-out;
}

.navigation-link:hover{
	color: rgba(40, 150, 40, 0.8);
}

.navigation-link:active{
	color: rgba(40, 200, 40, 1);
}

#footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0, 1, auto;
}

#logo {
	width: 45px;
	float: left;
	display: flex;
	justify-content: center;
  	align-items: center;
  	flex: 0, 1, auto;
  	opacity: 1;
	-webkit-transition: opacity 250ms linear;
	-moz-transition: opacity 250ms linear;
	-o-transition: opacity 250ms linear;
}

#logo:hover {
	opacity: 0.7;
}

#navigation-bar{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0, 1, auto;
	flex-wrap: wrap;
	background-color: rgba(255,255,255, 0.1);
	margin: 10px 0px 10px 0;
}

#title {
	color:rgba(0,255,0,0.9);
	font-size:24pt;
	font-weight:bold;
	text-align: center;
	margin-right: 45px;
}

@media(max-width: 400px){ 
	body{
		font-size: 9pt;
	}

	h1 {
		font-size: 16pt;
	}

  	.footer-images{
  		height: 1em;
  	}

  	.navigation-link{
  		font-size: 9pt;
  	}

  	#logo{
  		width: 35px;
  	}

  	#title{
  		font-size: 20pt;
  		margin-right: 35px;
  	}
}


@media(max-width: 320px){ 
	body{
		font-size: 7pt;
	}

	h1 {
		font-size: 14pt;
	}

  	.footer-images{
  		height: 1em;
  	}

  	.navigation-link{
  		font-size: 7pt;
  	}

  	#logo{
  		width: 30px;
  	}

  	#title{
  		font-size: 18pt;
  		margin-right: 30px;
  	}
}

/*@keyframes title-animation{
	from{color: black}
	to{color: red}
}

@keyframes navigation-animation{
	from{color: black}
	to{color: rgb(220, 51, 106)}
}
*/
